body{
  font-size: 16px;
  margin:0;
  padding:0;
}
nav{
  background-color: lightgrey;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
nav a{
  text-decoration: none;
  padding: 5px;
  margin:5px;
}
nav a:hover{
  /* text-decoration: overline underline; */
  border-bottom: 1px solid white;
}
